* , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 1px 1px 5px #9796f0;
    border-radius: 3px;
}
.container h2{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #7c7af0;
}
.container input{
    padding: 5px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px #9796f0;
    border-radius: 3px;
}
.container button{
    margin-left: 5px;
    padding: 4px 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid rgba(151, 150, 240, 0.7);
    border-radius: 3px;
    color: #7c7af0;
    transition: .3s linear;
    font-weight: 500;
}
.container button:hover{
    background-color: #7c7af0;
    color: #ffffff;
}